---
import Buttons from "../components/Buttons.astro";
import Navigation from "../components/Navigation.astro";
import "../stylesheet/globalstylesheet.css";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Infographic from "../components/Infographic.astro";
import Reviews from "../components/Reviews.astro";

const url = "https://clijcnedvgtppqzmwicf.supabase.co/rest/v1/artwork?limit=4";
// med "?limit=4" begrænser vi outputtet til at vise de første 4 objekter i vores database

const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsaWpjbmVkdmd0cHBxem13aWNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA3Mzc1NDYsImV4cCI6MjAxNjMxMzU0Nn0.ZB94RLQFTwNWgedKWPsDaUC6axpOb001oC9_gVqzCnY";

const options = {
  headers: {
    apikey: key,
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/Kande.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Sabora Studio Morrocan artist making poster art, salg af kunstplakater og farverige malerier"
    />
    <meta
      name="keywords"
      content="Sabora Studio Morrocan poster art kunstplakater farverige malerier"
    />
    <title>Sabora Studio | Morrocan Poster Art</title>
  </head>
  <body>
    <header>
      <!-- <a href="/portfolio">Portfolio</a>
      <a href="/singleview">Singleview</a> -->
      <Navigation />

    
      <div class="header_tekst">
        <h1>Sabora Studio</h1>
        <h3>Sabrine Benmoumou | Morrocan Poster Art</h3>
      </div>
      <section>
        <a
          href="#anchor"
          class="scroll-down"
          aria-label="Scroll down to latest work"></a>
      </section>
    </header>

    <main>
      <section class="portfoliobox" id="anchor">
        <h2>Latest work</h2>
        <article class="cardgrid">
          {
            data.map((artpiece) => {
              return <Card data={artpiece} />;
            })
          }
        </article>
        <div class="buttonbox">
          <Buttons
            variant="secondary"
            text="Portfolio"
            link="/portfolio"
            navn="Go to Portfolio"
          />
        </div>
      </section>
      <section class="infographic">
        <h2>Shipping Journey</h2>
        <div class="indhold">
          <Infographic
            billede="/icons/kort.svg"
            overskrift="Order"
            beskrivelse="You buy an artwork from me"
          />
          <Infographic
            billede="/icons/print.svg"
            overskrift="Print"
            beskrivelse="I print on demand"
          />
          <Infographic
            billede="/icons/mail.svg"
            overskrift="Mail"
            beskrivelse="Sent by mail within 24 hours"
          />
          <Infographic
            billede="/icons/hus.svg"
            overskrift="Home"
            beskrivelse="You receive within 36 hours "
          />
        </div>
      </section>

      <div id="slider">
        <input type="radio" name="slider" id="slide1" checked />
        <input type="radio" name="slider" id="slide2" />
        <input type="radio" name="slider" id="slide3" />
        <input type="radio" name="slider" id="slide4" />
        <div id="slides">
          <h2>Reviews</h2>

          <div class="full_reviews">
            <Reviews
              tekst="Det var simpelt at købe et print og få tilsendt i en sikret pakke så printet ikke led skade under levering"
              navn="Lærke Bue"
            />

            <Reviews
              tekst="Nem og hurtig handel. Fragten var sikker og hurtig"
              navn="Frederikke Nygaard"
            />

            <Reviews
              tekst="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan augue sed dui porttitor, eu aliquet leo placerat. Curabitur ligula augue, congue id semper ut, tincidunt ut sapien.  "
              navn="Chrystal Jørgensen"
            />

            <Reviews
              tekst="God kommunikation, og modtog mit print dagen efter bestilling. Farverne står stærkt, og kvaliteten af papiret er i top"
              navn="Hasse Bill"
            />
          </div>

          <div id="overflow">
            <div class="inner">
              <div class="slide slide_1">
                <div class="slide-content">
                  <Reviews
                    tekst="Det var simpelt at købe et print og få tilsendt i en sikret pakke så printet ikke led skade under levering"
                    navn="Lærke Bue"
                  />
                </div>
              </div>
              <div class="slide slide_2">
                <div class="slide-content">
                  <Reviews
                    tekst="Nem og hurtig handel. Fragten var sikker og hurtig"
                    navn="Frederikke Nygaard"
                  />
                </div>
              </div>
              <div class="slide slide_3">
                <div class="slide-content">
                  <Reviews
                    tekst="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan augue sed dui porttitor, eu aliquet leo placerat. Curabitur ligula augue, congue id semper ut, tincidunt ut sapien.  "
                    navn="Chrystal Jørgensen"
                  />
                </div>
              </div>
              <div class="slide slide_4">
                <div class="slide-content">
                  <Reviews
                    tekst="God kommunikation, og modtog mit print dagen efter bestilling. Farverne står stærkt, og kvaliteten af papiret er i top"
                    navn="Hasse Bill"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="controls">
          <label for="slide1"></label>
          <label for="slide2"></label>
          <label for="slide3"></label>
          <label for="slide4"></label>
        </div>
        <div id="bullets">
          <label for="slide1"></label>
          <label for="slide2"></label>
          <label for="slide3"></label>
          <label for="slide4"></label>
        </div>
      </div>

      <!-- <section class="reviews">
        <Reviews
          tekst="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan augue sed dui porttitor, eu aliquet leo placerat. Curabitur ligula augue, congue id semper ut, tincidunt ut sapien. Aliquam lacinia in nibh eu vulputate. "
          navn="Chrystal Jørgensen"
        />
      </section> -->
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  body {
    background-color: var(--brown);
  }

  /* ----- section: portfolio start ----- */
  .portfoliobox {
    background-color: var(--green);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    border: 2px solid var(--green);
  }

  .cardgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: 1fr;
    gap: 1em;
  }

  .buttonbox {
    padding: 20px;
    text-align: center;
  }

  /* ----- section: portfolio slut ----- */

  /* ---- HEADER ----- */
  header {
    background-color: var(--green);
    width: 100%;
    height: 100vh;
  }
  .header_tekst {
    width: fit-content;
    margin: auto;
    margin-top: 80px;
  }

  header h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: var(--lightsand);
    text-align: center;
  }
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--orange);
    text-align: center;
    font-size: 40px;
  }

  /* ---- BOUNCE SCROLL DOWN ---- */
  html {
    scroll-behavior: smooth;
  }

  .scroll-down {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in 3s;
    transition: all 0.5s ease-in 3s;
  }

  .scroll-down {
    position: absolute;
    bottom: 250px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid var(--darksand);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .scroll-down:before {
    position: absolute;
    top: calc(48% - 8px);
    left: calc(47.7% - 6px);
    transform: rotate(-46deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid var(--pink);
    border-width: 0px 0 2px 2px;
  }

  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  .full_reviews {
    display: none;
  }

  /* ----- CAUROSEL ----- 
  Link til code:
  https://codepen.io/anna_blok/pen/eYYRbQY

  Video:
  https://www.youtube.com/watch?v=1CZhGDU5cWM

  */

  #slider {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    background-color: var(--green);
    border-bottom: 1px solid var(--lightsand);
    padding-bottom: 10px;
    border-radius: 25px;
    margin-top: 30px;
  }
  .slide-content {
    height: 100%;
  }

  #slider input[type="radio"] {
    display: none;
  }
  #slider label {
    cursor: pointer;
    text-decoration: none;
  }
  #slides {
    padding: 10px;
    background: var(--green);
    position: relative;
    z-index: 1;
    border-radius: 25px;
  }
  #overflow {
    width: 100%;
    overflow: hidden;
  }
  #slide1:checked ~ #slides .inner {
    margin-left: 0;
  }
  #slide2:checked ~ #slides .inner {
    margin-left: -100%;
  }
  #slide3:checked ~ #slides .inner {
    margin-left: -200%;
  }
  #slide4:checked ~ #slides .inner {
    margin-left: -300%;
  }
  #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 400%;
    line-height: 1.5;
    height: 300px;
  }
  #slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
  }

  #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
  }
  #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.4;
  }
  #controls label:hover {
    opacity: 1;
  }
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #bullets {
    margin: 150px 0 0;
    text-align: center;
  }
  #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
  }
  #slide1:checked ~ #bullets label:nth-child(1),
  #slide2:checked ~ #bullets label:nth-child(2),
  #slide3:checked ~ #bullets label:nth-child(3),
  #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
  }

  /* ---- CARUOUSEL SLUT ---- */
  h2 {
    align-items: center;
    text-align: center;
  }
  @media (min-width: 700px) {
    /* ----- section: portfolio start ----- */
    .cardgrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-template-rows: 1fr;
      gap: 2em;
      padding: 40px;
    }

    /* ----- section: portfolio slut ----- */
    .indhold {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
      background-color: var(--green);
      padding: 10px;
      gap: 10px;
    }

    .infographic {
      width: 100%;
      background-color: var(--green);
      margin-top: 20px;
      padding: 20px;
      border-radius: 25px;
    }
  }

  @media (min-width: 850px) {
    #slides {
      width: 100%;
    }

    #slider {
      padding-bottom: 50px;
    }
    #overflow {
      display: none;
    }

    #bullets {
      display: none;
    }

    #controls {
      display: none;
    }

    .full_reviews {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      align-items: flex-start;
      align-self: center;
      border-radius: 25px;
    }
  }
</style>
