---
import "../stylesheet/globalstylesheet.css";
---

<div class="footer">
  <div class="info">
    <p><b>SABORA STUDIO</b></p>
    <p>casasabrin@me.dk</p>
    <div class="logo">
      <a
        href="https://www.instagram.com/sabora_studio/"
        target="_blank"
        aria-label="Go to instagram"
        ><img src="/imgs/Instagram.webp" alt="Sabora Studio Instagram" /></a
      >
      <a
        href="https://www.etsy.com/dk-en/shop/SABORAShop"
        target="_blank"
        aria-label="Go to Etsy"
        ><img src="/imgs/Etsy.webp" alt="Sabora Studio Etsy" /></a
      >
    </div>
  </div>
</div>

<style>
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
    padding: 20px 0px;

    p {
      color: var(--lightsand);
      text-align: center;
      font-size: 10px;
      margin-bottom: 10px;
    }
  }

  .info {
    width: 7rem;
  }

  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
  }

  .logo img {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
</style>
